body {
  margin: 0;
  text-align: center;
  font-family:'Merriweather', serif;
  font-size: 30px;
}

h1 {
  font-size: 5.625rem;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.top-container{
  background-color: #037777;;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  background-color: #eae6ee;
  position: relative;
  padding-top: 100px;
}


.bottom-container{
  background-color: #037777;;
  position: relative;
  padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}
